h1{
    color: red;
}
h2{
    color: blue;
}

p{
    color: green;
   
}

div{
    background-color: black;
}

span{
    color: red;
}

h4{
    color: white;
}

.firstdiv{
    background-color: red;
}

#firstp{
    color: darkred;
}


.seconddiv{
    background-color: deeppink;
}

#secondp{
    color: seashell;
}